@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: monospace;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.cm-editor {
  outline: none !important;
  width: 625px;
}

.border-1 {
  border-width: 1px;
}
.border-r-1 {
  border-right-width: 1px;
}
